<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>拼图前端框架跨屏响应式模板</title>
    <!--以下提供更好的移动端体验-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/static/css/pintuer.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/pintuer.js"></script>
    <script src="/static/js/respond.js"></script>
</head>
<body>
    <div class="container">
        <div class="line">
            <div class="xs6 xm4 xb3">xs6 xm4 xb3</div>
            <div class="xs6 xm4 xb3">xs6 xm4 xb3</div>
            <div class="xs6 xm4 xb3">xs6 xm4 xb3</div>
            <div class="xs6 xm4 xb3">xs6 xm4 xb3</div>
        </div>
        <div class="table-responsive">
            <table class="table">...</table>
        </div>
        <img src="/static/img/111111.jpg" class="img-responsive" alt="...">
    </div>
</body>
</html>